:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
