<nav class="flex flex-center space-between">
    <a href="/"><img src="/images/logo.svg" alt="logo"></a>
    <ul class="flex flex-center">
        <li><a href="/">Home</a></li>
        <li><a href="/allnews">Miscellaneous</a></li>
    </ul>
</nav>